Source: terminology
Section: x11
Priority: optional
Maintainer: Anthony F McInerney <afm404@gmail.com>
Build-Depends: debhelper (>= 9),
               autotools-dev (>= 1.8.6),
               libecore-dev (>= 1.8.6),
               libedje-dev (>= 1.8.6),
               libeet-dev (>= 1.8.6),
               libeeze-dev (>= 1.8.6),
               libefreet-dev (>= 1.8.6),
               libeina-dev (>= 1.8.6),
               libeio-dev (>= 1.8.6),
               libembryo-dev (>= 1.8.6),
               libemotion-dev (>= 1.8.6),
               libethumb-dev (>= 1.8.6),
               libevas-dev (>= 1.8.6),
               libelementary-dev (>= 1.8.5) 
Standards-Version: 3.9.5
Homepage: http://enlightenment.org/p.php?p=about/terminology
#Vcs-Git: git://anonscm.debian.org/collab-maint/terminology.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/terminology.git;a=summary

Package: terminology
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},terminology-data (= ${source:Version})
Provides: x-terminal-emulator
Description: Enlightenment efl based terminal emulator
 It emulates a slightly extended vt100 with some extensions and bling
  Most escapes supported by xterm, rxvt etc. work
  Xterm 256 color escapes work
  Backgrounds (bitmap, scalable/vector, animated gif, videos)
  Transparency
  Bitmap and scalable fonts supported
  Themes for the layout and design
  URL, file path and email address detection and link-handling
  Inline display of link content
  Multiple copy and paste selections and buffer support
  Works in X11
  Works in Wayland
  Works directly in the Linux framebuffer (fbcon)
  Can be finger/touch controlled
  Scan scale by UI scaling factors
  Can render using OpenGL or OpenGL-ES2 (not a requirement - just an option)
  Can display inlined media content (images, video, documents)
  Can do multiple tabs
  Can do splitting into multiple panes
  Block text selection
  Drag and drop of text selections and links
  Can stream media from URLs
  Tab switcher has live thumbnail content
  Single process, multiple windows/terminals support
  Fast (gives urxvt a run for its money)
  Themable visual bell
  Compress backscroll
  Text reflow on resize
  Color palette selection
  More...

Package: terminology-data
Architecture: all
Depends: ${misc:Depends}
Enhances: terminology
Description: Enlightenment efl based terminal emulator data
 It emulates a slightly extended vt100 with some extensions and bling
  Most escapes supported by xterm, rxvt etc. work
  Xterm 256 color escapes work
  Backgrounds (bitmap, scalable/vector, animated gif, videos)
  Transparency
  Bitmap and scalable fonts supported
  Themes for the layout and design
  URL, file path and email address detection and link-handling
  Inline display of link content
  Multiple copy and paste selections and buffer support
  Works in X11
  Works in Wayland
  Works directly in the Linux framebuffer (fbcon)
  Can be finger/touch controlled
  Scan scale by UI scaling factors
  Can render using OpenGL or OpenGL-ES2 (not a requirement - just an option)
  Can display inlined media content (images, video, documents)
  Can do multiple tabs
  Can do splitting into multiple panes
  Block text selection
  Drag and drop of text selections and links
  Can stream media from URLs
  Tab switcher has live thumbnail content
  Single process, multiple windows/terminals support
  Fast (gives urxvt a run for its money)
  Themable visual bell
  Compress backscroll
  Text reflow on resize
  Color palette selection
  More...
  .
  This package provides the shared data for all architectures.